{% load static %}
<html>
    <head>
        <title>Browser code executor</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/executor.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">Browser code executor</a></h1>
        </div>


        <div class="content container">
            <form action="textarea1.php" method="post">
                <p><b>Insert your code:</b></p>
                <p><textarea rows="10" cols="45" name="text"></textarea></p>
                <p><input type="submit" value="Отправить"></p>
            </form>

            <div class='console'>
                <div class='console-inner'>
                    <div id="outputs">
                    </div>
                    <div class='output-cmd'><textarea autofocus class='console-input' placeholder="Type command..."></textarea></div>
                </div>
            </div>

            
             <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



    </body>
</html>